@import "../../../../../utils/colors.css";
@media only screen and (min-width: 1920px) {
  .quizCard_root {
    width: 80% !important;
    height: 280px;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
  }
  .quizCard_root:hover {
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.4);
  }
  .quizCard_root:hover .quizCard_button {
    display: block;
  }
  .quizCard_row1 {
  }

  .quizCard_row1_inside {
    border-radius: 20px 0px 0px 20px;
  }
  .quizCard_row1_col1_container {
    padding: 20px;
  }
  .quizCard_row1_col1 p {
    margin: 0;
    font-weight: bold;
    font-size: 1.9em;
  }
  .quizCard_row1_col2 p {
    margin-top: 5px;
    font-size: 1.22em;
  }
  .quizCard_row1_col3 p {
    margin: 0;
    font-size: 1.3em;
  }
  .quizCard_row1_col4 p {
    margin: 0;
    position: absolute;
    bottom: 60px;
    font-weight: bold;
    font-size: 1.3em;
  }
  .quizCard_row1_col5 p {
    margin: 0;
    position: absolute;
    bottom: 30px;
    font-size: 1.1em;
  }
  .quizCard_row2 {
    height: 280px;
  }
  .quizCard_row2 p {
    width: 85%;
    height: 220px;
    margin-left: 50px;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: justify;
    overflow: hidden;
    overflow-y: auto;
  }
  .quizCard_red {
    background: var(--red4);
    color: var(--white);
  }
  .quizCard_yellow {
    background: var(--blue);
    color: var(--white);
  }
  .quizCard_green {
    background: var(--green3);
    color: var(--white);
  }
  .quizCard_purple {
    background: var(--purple);
    color: var(--white);
  }
  @keyframes example {
  }
  .quizCard_button {
    animation-duration: 4s;
    animation-name: example;
    width: 60px;
    height: 60px;
    background: var(--green5);
    position: absolute;
    border-radius: 50%;
    top: 110px;
    left: 460px;
    display: none;
  }
  .quizCard_buttonIcon {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 1919px) {
}
