@import "../../../../utils/colors.css";
@media only screen and (min-width: 1920px) {
  .mainDash_root {
    width: 95% !important;
    height: 100vh !important;
    margin: 0px auto !important;
    position: relative !important;
    flex-grow: 1 !important;
  }

  .mainDash_topBar {
    width: 100% !important;
    height: 50px !important;
    margin-top: 50px !important;
  }
  .mainDash_botBar {
    width: 100% !important;
    height: 810px !important;
    margin-top: 20px !important;
  }
  .mainDash_leftContainer {
    height: 810px !important;
  }
  .mainDash_middleContainer {
    height: 810px !important;
  }
  .mainDash_rightContainer {
    height: 810px !important;
  }
  .mainDash_activeClassBoxContainer {
    width: 95% !important;
    height: 250px !important;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_activeClassBoxInside {
  }
  .mainDash_activeClassBoxTop {
  }
  .mainDash_smallRedBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--red4);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_activeClassTitle {
    position: relative;
    left: 15px;
    font-size: 1.7em;
  }
  .mainDash_activeClassBoxBottom {
    height: 172px;
  }
  .mainDash_classResourcesBoxContainer {
    width: 95% !important;
    height: 510px !important;
    margin-top: 40px !important;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_classResourceBoxInside {
  }
  .mainDash_classResourceBoxTop {
  }
  .mainDash_smallPurpleBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--purple);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_classResourceTitle {
    position: relative;
    left: 15px;
    font-size: 1.7em;
  }
  .mainDash_classResourceBoxBottom {
    height: 430px;
    overflow: hidden;
    overflow-y: auto;
  }
  .mainDash_discussionBoxContainer {
    width: 95% !important;
    height: 800px !important;
    margin: 0px auto !important;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_discussionBoxInside {
  }
  .mainDash_discussionBoxTop {
  }
  .mainDash_smallBlueBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_discussionBoxTitle {
    position: relative;
    left: 15px;
    font-size: 1.7em;
  }
  .mainDash_discussionBoxBottom {
    height: 720px;
  }
}

@media only screen and (max-width: 1919px) {
  .mainDash_root {
    width: 98% !important;
    height: 100vh !important;
    margin: 0px auto !important;
    position: relative !important;
    flex-grow: 1 !important;
  }

  .mainDash_topBar {
    width: 100% !important;
    height: 50px !important;
    margin-top: 50px !important;
  }
  .mainDash_botBar {
    width: 100% !important;
    height: 700px !important;
    margin-top: 20px !important;
  }
  .mainDash_leftContainer {
    height: 750px !important;
  }
  .mainDash_middleContainer {
    height: 750px !important;
  }
  .mainDash_rightContainer {
    height: 750px !important;
  }
  .mainDash_activeClassBoxContainer {
    width: 90% !important;
    height: calc(180px + 2vw) !important;
    max-height: 250px;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_activeClassBoxInside {
  }
  .mainDash_activeClassBoxTop {
  }
  .mainDash_smallRedBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--red4);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_activeClassTitle {
    position: relative;
    left: 15px;
    font-size: 1.3em;
  }
  .mainDash_activeClassBoxBottom {
  }
  .mainDash_classResourcesBoxContainer {
    width: 90% !important;
    height: 412px !important;
    margin-top: 40px !important;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_classResourceBoxInside {
  }
  .mainDash_classResourceBoxTop {
  }
  .mainDash_smallPurpleBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--purple);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_classResourceTitle {
    position: relative;
    left: 15px;
    font-size: 1.3em;
  }
  .mainDash_classResourceBoxBottom {
    height: 345px;
    overflow: hidden;
    overflow-y: auto;
  }
  .mainDash_discussionBoxContainer {
    height: 650px !important;
    margin: 0px auto !important;
    background: var(--white) !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2) !important;
  }
  .mainDash_discussionBoxInside {
  }
  .mainDash_discussionBoxTop {
  }
  .mainDash_smallBlueBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    position: relative;
    margin-left: 20px !important;
  }
  .mainDash_discussionBoxTitle {
    position: relative;
    left: 15px;
    font-size: 1.3em;
  }
}
