@import "../../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .questions_mainContainer {
    border-radius: 15px;
    border: 1px solid var(--grey6);
    padding: 15px;
    margin: 10px;
  }

  .questions_questionTitleContainer {
    height: 70px !important;
    cursor: pointer;
    position: relative;
  }
  .minimizeContainer {
  }
  .minimizeicon {
    position: relative;
    top: 3px;
    border-radius: 50%;
  }
  .questions_questionNumberContainer {
    width: 300px;
  }
  .questions_questionNumber {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    text-indent: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .questions_upload {
  }
  .questions_upload:hover {
    color: var(--purple2);
  }
  .questions_removeContainer {
    position: relative;
  }
  .questions_remove {
    background: transparent;
    border: none;
    color: var(--white);
    border: none;
    font-size: 1.1em;
    cursor: pointer;
  }
  .questions_remove:hover {
    transform: scale(1.1);
    transition: transform 350ms;
  }
  .questions_questionMarksContainer {
  }
  .questions_marks {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .questions_marksField {
    width: 60px !important;
    margin: 0px !important;
  }

  .questions_questionTitle {
    width: 100% !important;
  }

  .questions_addQuestionButtonContainer {
    padding: 10px 0px;
  }
  .questions_addQuestionButtonContainer:hover {
    transform: scale(1.05);
    transition: 350ms ease;
  }
  .questions_addQuestionButton {
    width: 160px;
    height: 45px;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 12px;
    font-size: 1.1em;
    cursor: pointer;
    scroll-snap-type: y mandatory;
    border: none;
  }
}

@media only screen and (min-width: 1920px) {
  .questions_questionNumberContainer {
    width: 500px;
  }
  .questions_marksField {
    width: 80px !important;
  }
}
