@import "../../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .student_root {
    flex-grow: 1;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
  }
  .student_Image {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
  }
  .student_ImageRoot {
    padding: 0px 10px;
    position: relative;
  }
  .student_nameContainer {
    width: 250px;
  }
  .student_nameContainer p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .student_name {
    padding: 0px 5px;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--grey1);
    text-overflow: ellipsis;
  }
  .student_root:hover {
    flex-grow: 1;
    border-top: 1px solid var(--grey6);
    border-bottom: 1px solid var(--grey6);
  }
  .student_check {
    position: absolute;
    right: 0px;
    top: 5px;
  }
  .student_randomCheckBox {
  }
}

@media only screen and (min-width: 1920px) {
  .student_Image {
    width: 30px;
    height: 30px;
  }
  .student_greenDot {
    width: 12px;
    height: 12px;
    top: 28px;
    left: 10px;
  }
  .student_name {
    padding: 0px 5px;
    font-size: 1em;
  }
  .student_nameContainer {
    width: 320px;
  }
  .student_check {
    position: absolute;
    top: 15%;
  }
}
