@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .tabIcons_root {
    height: 60px;
    cursor: pointer;
    padding: 10px;
  }
  .tabIcons_iconContainer {
    height: 30px;
    width: 30px;
  }
  .tabIcons_nameContainer {
    width: 80%;
    font-weight: 500;
    font-size: 0.95em;
    text-indent: 5px;
  }
  .tabIcons_nameText {
    margin: 0px;
    font-weight: bold;
    color: #4e4e4e;
  }
  .tabIcons_root:hover {
    background-color: var(--grey3);
  }
  .tabIcons_root:hover .tabIcons_nameContainer {
    color: var(--red3);
  }
}

@media only screen and (min-width: 1920px) {
  .tabIcons_nameContainer {
    padding-left: 5px;
    width: 85%;
    font-weight: 500;
    font-size: 1.1em;
    text-indent: 15px;
  }
}
