@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .tfa_root {
    width: 100%;
    padding-bottom: 20px;
  }
  .tfa_topPart {
    height: 60px;
    margin-top: 20px !important;
  }

  .tfa_title {
    font-size: 1.4em;
    font-weight: bold;
    text-indent: 30px;
    margin: 0 !important;
  }
  .tfa_formContainer {
    margin-top: 20px !important;
  }
  .tfa_inputField {
    width: 40% !important;
  }
  .tfa_button {
    max-width: 150px;
    min-width: 150px;
    height: 50px;
    margin-top: 20px !important;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 15px;
    font-size: 1.3em;
  }
  .tfa_button:hover {
    border-bottom: 2px solid var(--red4);
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
  }
}

@media only screen and (min-width: 1920px) {
  .tfa_root {
  }
  .tfa_button {
    max-width: 150px;
    min-width: 150px;
  }
}
