:root {
  --primary: #ffffff;
  --secondary: #ffffff;
  --accentColor: #f14b4b;
  --primaryTextColor: #2c2e32;
  --secondaryTextColor: #676f79;
  --thirdTextColor: #ffffff;

  --red1: #ff3333;
  --red2: #e64551;
  --red3: #f24f4f;
  --red4: #f14b4b;
  --red41: #ff6f61;
  --red5: #ff9b91;
  --red6: #ffaaaa;
  --red8: #f8dfdfb0;
  --red7: #ee4a4ae3;
  --black: #2c2e32;
  --white: #ffffff;
  --grey1: #676f79;
  --grey2: #a0a6ac;
  --grey3: #fff8f7;
  --grey4: #f2f2f2;
  --grey5: #e0e0e0;
  --grey6: #e0e0e0;
  --grey7: #fdfafa;
  --blue: #2b71db;
  --blue2: #389aea;
  --blue3: #55b0ff;
  --blue4: #33bcd4;
  --blue5: #c5dcf7;
  --blue6: #5b9fed;
  --blue7: #3279d7;
  --green: #42c7ca;
  --green2: #00c2a5;
  --green3: #01d78d;
  --green4: #adf2db;
  --green5: #d1faec;
  --green6: #3fe6c7;
  --green7: #52e6cbbb;
  --green8: #1eaf0b;
  --yellow: #ffce37;
  --yellow2: #ffecb4;
  --yellow3: #fbf7ea;
  --light1: #f2f5f9;
  --light2: #fffaea;
  --purple: #8269dd;
  --purple2: #8977e6;
  --purple3: #9999ff;
  --purple4: #bebefd;
}
