@import "../../../../utils/colors.css";
.root {
  width: 100%;
  height: 100vh;
  margin: 0px auto !important;
  flex-grow: 1;
}
.topBar {
  width: 95%;
  height: 50px;
  margin-top: 50px !important;
}
.titleText {
  font-size: 2.3em;
  font-weight: bold;
}
.botBar {
  width: 95%;
  height: 800px;
  margin-top: 30px !important;
}
.notesTextContainer {
  cursor: text;
}
.notesText {
  font-weight: bold;
  font-size: 2.5em;
  cursor: text;
}
.plusIcon {
  cursor: pointer;
  height: 30px;
}
