@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .changePw_root {
    width: 100%;
    height: 450px;
  }
  .changePw_topPart {
    height: 60px;
    margin-top: 20px !important;
  }

  .changePw_title {
    font-size: 1.4em;
    font-weight: bold;
    text-indent: 30px;
    margin: 0 !important;
  }
  .changePw_formContainer {
    margin-top: 20px !important;
  }
  .changePw_inputField {
    width: 100% !important;
  }
  .changePw_button {
    max-width: 150px;
    min-width: 150px;
    height: 40px;
    margin-top: 20px !important;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 15px;
    font-size: 1.3em;
  }
  .changePw_button:hover {
    border-bottom: 2px solid var(--red4);
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
  }
}

@media only screen and (min-width: 1920px) {
  .changePw_root {
    height: 500px;
  }
  .changePw_button {
    max-width: 150px;
    min-width: 150px;
  }
}
