@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .profileTabs_tabs {
  }
  .profileTabs_topPart {
    margin: 4px 0 0 0 !important;
    padding-top: 10px;
  }
  .profileTabs_imageContainer {
    height: 100% !important;
  }
  .profielTabs_imageContainerInside {
    width: 100px;
    height: 100px;
    margin: 0px auto;
  }
  .profileTabs_image {
    object-fit: cover;
    position: relative;
    border-radius: 50%;
  }
  .profileTabs_nameContainer {
    overflow: hidden;
    white-space: nowrap;
  }
  .profileTabs_name {
    margin: 0px;
    font-size: 0.95em;
    font-weight: bold;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }
  .profileTabs_departname {
    margin: 0px;
    font-size: 0.85em;
    font-weight: 600;
    color: var(--secondaryTextColor);
  }
  .profileTabs_tabIconContainer {
    margin: 15px 0 0 0 !important;
  }
}

@media only screen and (min-width: 1920px) {
  .profileTabs_name {
    margin: 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-overflow: ellipsis;
  }
  .profileTabs_departname {
    margin: 0px;
    font-size: 1em;
    font-weight: 600;
    color: var(--secondaryTextColor);
  }
}
