@import "../../../../utils/colors.css";
.tabIcons_root {
  cursor: pointer;
}
.tabIcons_iconContainer {
  padding: 10px;
}
.tabIcons_nameContainer {
  width: 70%;
  font-weight: 500;
  font-size: 1.1em;
}

.tabIcons_root:hover {
  background-color: var(--grey3);
}
.tabIcons_root:hover .tabIcons_nameContainer {
  color: var(--red3);
}
