@import "../../../../utils/colors.css";

.miniProfile_root{
  flex-grow:1;
  padding:0px 20px;
  border-radius:25px;
  z-index: 2;
}
.miniProfile_root:hover{
  flex-grow:1;
  padding:0px 20px;
  background:var(--grey3);
}
.miniProfile_Image{
  border-radius: 50%;
	width: 120px;
	height: 120px;
  box-shadow: -1px 21px 84px -29px rgba(0,0,0,0.5);
}
.miniProfile_ImageRoot{
  position:relative;
  top:15px;
}
.miniProfile_description{
  color:var(--red4)
}
.miniProfile_greenDot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--red1);
  position: absolute;
  top:100px;
  left:65px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  margin-left: 20px !important;
}
.miniProfile_nameContainer{
  text-align: center;
  padding:10px;
}
.miniProfile_name{
  font-size: 1em;
  font-weight: 600;
  color:var(--grey1)
}
