@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .onlineBox_root {
    max-height: 600px;
    border-radius: 25px;
    position: relative;
    margin: 0px auto;
    background: var(--secondary);
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
  }
  .online_titleBar{
    width:100%;
    height:80px !important;
  }
  .onlineBox_userlistContainerOuter{
    max-height:500px;
    overflow-Y:scroll;
  }
    
  .onlineBox_greenDot{
   width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--red4);
    position: relative;
    top:30px;
    margin-left: 20px !important;
  }
  .onlineBox_courseTextTitle {
    margin: 0px;
    font-size: 1.5em;
    height: 2em;
    font-weight: bold;
    position: relative;
    margin-top: 10px;
    top: 5px;
    left:-20px;
    text-indent: 30px;
    margin-bottom: 20px;
  }
  .onlineBox_courseDetailBoxContainer {
    width: 100%;
    position: relative;
  }
  .onlineBox_courseDetailBox {
  }
  .onlineBox_courseTextCode {
    text-indent: 30px;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    list-style-type: none;
  }
  .onlineBox_courseTextCodeSelected {
    width: 85%;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    list-style-type: none;
    color: var(--red4);
  }
  .onlineBox_courseTextName {
    font-size: 0.6em;
    font-weight: 600;
    position: relative;
    list-style-type: none;
    color: var(--grey1);
  }
  .onlineBox_courseTextCredit {
    font-size: 0.7em;
    font-weight: 400;
    position: absolute;
    top: 0px;
    right: 20px;
    list-style-type: none;
    color: var(--grey1);
  }
  .onlineBox_userlistContainer{
    

  }
  .onlineBox_userList{
  }
}
@media only screen and (min-width: 1920px) {
  .onlineBox_root {
    min-height: 500px;
  }
  .onlineBox_courseTextTitle {
    font-size: 2em;
    height: 2.5em;
    text-indent: 40px;
  }
  .onlineBox_courseTextCode {
    text-indent: 40px;
    font-size: 1.4em;
  }
  .onlineBox_courseTextCodeSelected {
    font-size: 1.4em;
  }
  .onlineBox_courseTextCredit {
    right: 30px;
  }
}
