@import "../../../../utils/colors.css";


@media only screen and (min-width: 1280px) {
.online_root{
  flex-grow:1;
  padding:0px 10px;
  position: relative;
}

.online_Image{
  border-radius: 50%;
	width: 35px;
	height: 35px;
  float: left;
}
.online_greenDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--red1);
  position: absolute;
  top:25px;
  left:5px;
  margin-left: 20px !important;
  box-shadow: 3px 3px 15px -3px rgba(0, 0, 0, 0.2);
}
.online_ImageRoot{
  position: relative;
}
.online_nameContainer{
  text-align: center;
}
.online_name{
  padding:0px 10px;
  font-size: 0.8em;
  font-weight: 600;
  color:var(--grey1);
  text-overflow: ellipsis;

}
.online_miniProfile{
  display:none;
}
.online_root:hover{
  flex-grow:1;
  padding:0px 10px;

  background:var(--grey4);
  border-radius:15px;
}

.online_root:hover .online_miniProfile{
  display:block;
  position:fixed;
  width:180px;
  height:250px;
  border-radius:25px;
  top:50vh;
  right:23vw !important;
  background-color: var(--white);
  box-shadow: 3px 3px 15px -3px rgba(0, 0, 0, 0.2);
  z-index:2;
}
}

@media only screen and (min-width: 1920px) {

  .online_Image{
    width: 40px;
    height: 40px;
  }
  .online_greenDot{
    width: 12px;
    height: 12px;
    top:28px;
    left:10px;
  }
  .online_name{
    padding:0px 20px;
    font-size: 1em;
  }
  .online_root:hover .online_miniProfile{
    width:220px;
    height:300px;
    position: fixed;;
    top:50vh;
    right:10vw ;
  }
}
  


