@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .online_root {
    flex-grow: 1;
    width: 100% !important;
    position: relative;
    cursor: pointer;
    margin: 0px auto !important;
    border-top: 1px solid var(--grey7);
    border-bottom: 1px solid var(--grey7);
  }
  .online_ImageRoot {
    width: 35px;
    height: 35px;
    position: relative;
    margin-left: 15px !important;
  }
  .online_Image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    object-fit: cover;
  }
  .online_greenDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--green8);
    position: absolute;
    top: 25px;
    left: 5px;
    margin-left: 20px !important;
  }
  .online_nameContainer {
    width: 160px;
    text-indent: 15px;
  }
  .online_nameContainer p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .online_name {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--grey1);
    text-overflow: ellipsis;
  }
  .online_root:hover {
    border-top: 1px solid var(--grey6);
    border-bottom: 1px solid var(--grey6);
  }
  .online_check {
    position: relative;
    left: 50px;
    padding-left: 5px;
  }
  .online_randomCheckBox {
  }
  .online_disabled {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .online_Image {
    width: 40px;
    height: 40px;
  }
  .online_greenDot {
    width: 12px;
    height: 12px;
    top: 22px;
    left: 5px;
  }
  .online_name {
    font-size: 1em;
  }
  .online_nameContainer {
    width: 250px;
  }
}
