@import "../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .profileBox_root {
    flex-grow: 1;
    margin: 0px auto;
    height: 150px;
    border-radius: 25px;
    background: var(--secondary);
    position: relative;
    border: 1px solid var(--grey6);
    cursor: pointer;
  }
  .profileBox_root:hover {
    border: 1px solid var(--grey1);
  }
  .profileBox_image {
    object-fit: cover;
    border-radius: 50%;
  }
  .profileBox_imageSide {
  }
  .profileBox_textSide {
    height: 100%;
  }
  .profileBox_profileImage {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0px auto;
  }
  .profileBox_textBoxTop {
    width: 100%;
    height: 100%;
  }
  .profileBox_textBox1 {
    margin-top: 10px !important;
    position: relative;
  }
  .profileBox_textBox1 p {
    width: 125px;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profileBox_profileText {
    padding: 10px;
    font-size: 0.88em;
    font-weight: 700;
    position: relative;
  }
  .profileBox_departmentText {
    margin: 0;
    padding: 10px;
    font-weight: 380;
    font-size: 0.65em;
    color: var(--red4);
    position: relative;
  }
  .profileBox_buttonContainer {
  }
  .profileBox_profileButtonIcon {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 1920px) {
  .profileBox_root {
    height: 200px;
  }
  .profileBox_textBox1 p {
    width: 160px;
  }
  .profileBox_textBox1 {
    margin-top: 20px;
  }
  .profileBox_profileText {
    font-size: 1.2em;
  }
  .profileBox_departmentText {
    font-size: 0.95em;
  }
  .profileBox_buttonContainer {
  }
}
