/* .ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font {
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
} */
@font-face {
  font-family: "Pattaya";
  src: local("Pattaya"), url(../../../../../assets/fonts/Pattaya.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Preeti";
  src: local("Preeti"), url(../../../../../assets/fonts/Preeti.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.ql-toolbar {
}
.ql-snow {
  font-size: 18px !important;
  border: 0px !important;
}
.ql-container {
  border-top: 1px solid #ccc !important;
}
.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  font-family: "Roboto", cursive;
  content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before {
  font-family: "Pattaya", cursive;
  content: "Pattaya" !important;
}
.ql-picker.ql-font .ql-picker-label[data-value="Lato"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="Lato"]::before {
  font-family: "Preeti", cursive;
  content: "lk|lt" !important;
  font-size: 22px;
}

/* Set content font-families */
.ql-font-Roboto {
  font-family: "Roboto";
}
.ql-font-Raleway {
  font-family: "Pattaya";
}
.ql-font-Lato {
  font-family: "Preeti";
}
