@import "../../../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .adminBoxSmall_root {
    flex-grow: 1;
    position: relative;
  }
  .adminBoxSmall_container {
    width: 90%;
    height: 180px;
    background: var(--white);
    border-radius: 20px;
    border: 1px solid var(--grey6);
    cursor: pointer;
  }
  .adminBoxSmall_container:hover {
    border: 1px solid var(--blue6);
  }
  .adminBoxSmall_image {
    border-radius: 50%;
  }
  .adminBoxSmall_row_col_box {
    height: 180px;
    position: relative;
  }
  .adminBoxSmall_row1 {
  }
  .adminBoxSmall_row2 {
    height: 180px;
  }
  .adminBoxSmall_buttonContainer {
    height: 35px;
    position: relative;
    top: 20px;
  }
  .adminBoxSmall_row_col_1 {
    position: relative;
  }
  .adminBoxSmall_row_col_2 {
    position: relative;
  }
  .adminBoxSmall_row_col_1_bold {
    margin: 0;
    font-size: 1.35rem;
    font-weight: bold;
  }
  .adminBoxSmall_row_col_1_light {
    font-size: 1em;
    font-weight: 600;
    color: var(--grey1);
  }
  .adminBoxSmall_row2_bot {
    position: absolute;
    bottom: 15px;
    text-align: right;
    word-wrap: normal;
  }
  .adminBoxSmall_row2_bot_text {
    margin: 0;
    font-size: 0.9em;
    color: var(--blue);
  }
}

@media only screen and (min-width: 1920px) {
}
