@import "../../../utils/colors.css";

.notes_root {
  width: 800px !important;
  height: 800px;
  position: relative;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  border: 1px solid black;
}
.notes_notePadTop {
  width: 100%;
  border: 1px solid black;
}
.notes_line {
  background-color: var(--grey1);
  opacity: 30%;
  width: 550px;
  height: 2px;
  position: relative;
  margin-top: 15px;
  left: 38px;
  border: 1px solid black;
}
.notes_titleTextContainer {
  position: relative;
  margin-top: 30px;
  border: 1px solid black;
}
.notes_titleText {
  position: relative;
  font-weight: bold;
  font-size: 1.7em;
  cursor: text;
  position: relative;
  margin-left: 40px;
  border: 1px solid black;
}
.notes_notePadBot {
  text-align: justify;
  position: relative;
  top: 25px;
  border: 1px solid black;
}
.notes_contentTextContainer {
  width: 88%;
  text-align: justify;
  line-height: 2em;
  position: relative;
  left: 38px;
  border: 1px solid black;
}
.notes_contentText {
  position: relative;
  font-size: 1.15em;
  border: 1px solid black;
}
.notes_closeButtonContainer {
  height: 80px;
  border: 1px solid black;
}
.notes_closeButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid black;
}
.notes_trashButtonContainer {
  position: absolute;
  right: 20px;
  top: 620px;
  border: 1px solid black;
}
.notes_trashButton {
  bottom: 50px;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
  color: var(--red4);
  cursor: pointer;
  border: 1px solid black;
}
