@import "../../../utils/colors.css";
@media only screen and (min-width: 1920px) {
  .notifBox_root {
    width: 20vw;
    height: 55vh;
    flex-grow: 1;
    float: right;
    position: relative;
    z-index: 1;
    background: var(--red6);
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
  }
  .notifBox_titleBox {
    background: var(--red5);
    position: relative;
  }
  .notifBox_titleText {
    font-weight: bold;
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1366px) {
}
