@import "../../../utils/colors.css";
@media only screen and (min-width: 1920px) {
  .profileBox_root {
    flex-grow: 1;
    height: 200px;
    max-height: 200px;
    border-radius: 25px;
    background: var(--secondary);
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
    margin: 0px auto;
  }
  .profileBox_image {
    border-radius: 50%;
  }
  .profileBox_imageSide {
    height: 100%;
    position: relative;
  }
  .profileBox_textBoxTop {
    width: 100%;
    margin-top: 10px;
  }
  .profileBox_textSide {
    height: 100%;
    position: relative;
  }
  .profileBox_profileImage {
    width: 80%;
    position: relative;
    margin: 20px auto;
  }
  .profileBox_profileText {
    font-size: 1.3em;
    font-weight: bold;
  }
  .profileBox_textBox1 {
    width: 80%;
    position: relative;
  }
  .profileBox_textBox3 {
    width: 85%;
    position: absolute;
    bottom: 0px;
  }
  .profileBox_departmentText {
    font-weight: 400;
    font-size: 1.2em;
    color: var(--red4);
  }
  .profileBox_buttonContainer {
    width: 20%;
    margin-top: 0px;
  }
  .profileBox_profileButton {
    width: 40px;
    height: 40px;
    background-color: var(--yellow2);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1919px) {
  .profileBox_root {
    flex-grow: 1;
    margin: 0px auto;
    height: 150px;
    border-radius: 25px;
    background: var(--secondary);
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
  }
  .profileBox_image {
    border-radius: 50%;
  }
  .profileBox_imageSide {
    position: relative;
  }
  .profileBox_textSide {
    margin: 0px auto !important;
    height: 100%;
    position: relative;
  }
  .profileBox_profileImage {
    width: 75%;
    position: relative;
    margin: 0px auto;
  }
  .profileBox_textBoxTop {
    width: 100%;
  }
  .profileBox_textBox1 {
    width: 72%;
    position: relative;
    margin-top: 12%;
  }
  .profileBox_profileText {
    width: 100%;
    font-size: 0.95em;
    font-weight: 700;
    position: relative;
    left: 2%;
  }
  .profileBox_textBox3 {
    width: 95%;
    position: absolute;
    left: 2%;
    bottom: 0px;
  }
  .profileBox_departmentText {
    font-weight: 380;
    font-size: 0.95em;
    color: var(--red4);
    position: relative;
    left: 2%;
  }
  .profileBox_buttonContainer {
    width: 20%;
    position: absolute;
    margin-top: 3%;
    right: 0;
  }
  .profileBox_profileButtonIcon {
    width: 30px;
    height: 30px;
  }
}
