@import "../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
  .questions_root {
    flex-grow: 1;
    width: 90% !important;
    height: 15vh;
    margin: 20px auto;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--black);
  }

  .questions_innerContainer {
    overflow: hidden;
    height: 80%;
    position: relative;
    top: 8%;
  }

  .questions_questionContainer {
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    top: 12%;
    left: 5%;
    width: 75%;
    max-height: 30%;
  }

  .questions_studentContainer {
    width: 90%;
    position: absolute;
    bottom: 8px;
    left: 7%;
    text-align: right;
    word-wrap: normal;
    color: var(--grey2);
    line-height: 1.7em;
  }
}
