@import "../../../utils/colors.css";
@media only screen and (min-width: 1366px) {
  .adminStudentBox_root {
    flex-grow: 1;
    width: 90% !important;
    height: 80px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--black);
  }

  .adminStudentBox_innerContainer {
    position: relative;
  }

  .adminStudentBox_studentName {
    width: 300px;
    font-weight: 500;
    font-size: 1.3em;
  }
  .adminStudentBox_studentName p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .adminStudentBox_studentNameText {
    margin: 0;
  }
  .adminStudentBox_editIcon {
    margin-top: 6px;
    width: 26px;
    height: 26px;
  }
}

@media only screen and (min-width: 1920px) {
  .adminStudentBox_root {
    height: 90px;
  }
  .adminStudentBox_studentName {
    width: 450px;
    font-size: 1.5em;
  }
  .adminStudentBox_editIcon {
    width: 30px;
    height: 30px;
  }
}
