/* Login Page */
.login_button {
  font-family: "Segoe UI";
  background-color: #f14b4b;
  color: #ffffff;
  font-size: 1.2em;
}
.guest_button {
  font-family: "Segoe UI";
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 1.2em;
}
