/* Login Page */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #000000;
  /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  /* background-color: #a0a6ac; color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
