@import "./utils/colors.css";

* {
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: auto;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  height: 100vh;
  overflow: hidden;
}
