@import "./utils/colors.css";

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe"), url(../src/assets/fonts/Segoe.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
* {
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: auto;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  height: 100vh;
  overflow: hidden;
}
