/* @font-face{
  font-family: '';
  src: local(''), url(./fonts/Rajdhani/Rajdhani-Regular.ttf) format('truetype');
} */
* {
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}
