@media only screen and (min-width: 1280px) {
  .buttonIcon {
    width: 28px;
    height: 28px;
    position: absolute;
    cursor: pointer;
  }
  .button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 1920px) {
  .buttonIcon {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
  }
  .button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
