@import "../../../utils/colors.css";

@media only screen and (min-width: 1280px) {
  .message_ImageRoot {
    width: 40px;
    height: 40px;
  }

  .message_Image {
    border-radius: 50%;
    object-fit: cover;
  }

  .message_Content {
    border-radius: 15px;
    margin-left: 10px !important;
    padding: 10px;
    max-width: 22vw;
    min-width: 40px;
    overflow: hidden;
    text-align: justify;
    word-wrap: break-word;
  }

  .message_messageOuter {
    position: relative;
  }

  .message_name {
    color: var(--grey1);
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .message_timeContainer {
  }

  .message_time {
    display: none;
  }

  .message_Content:hover .message_time {
    display: inline;
    position: absolute;
    width: 200px;
    top: 5px;
    left: 25vw;
    cursor: pointer;
    color: var(--grey1);
    font-size: 0.7rem;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
  }
}
