@import "../../../../utils/colors.css";
@media only screen and (min-width: 1920px) {
  .verify_button {
    max-width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 15px;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 1919px) {
  .verify_button {
    max-width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 15px;
    font-size: 1.2em;
  }
}
