@import "../../../../utils/colors.css";
@media only screen and (min-width: 720px) {
  .verify_button {
    max-width: 200px;
    min-width: 200px;
    height: 50px;
    background-color: var(--red4);
    color: var(--white);
    border-radius: 15px;
    font-size: 1.1em;
  }
  .verify_buttonContainer {
    margin-top: 50px !important;
  }
}
@media only screen and (min-width: 1920px) {
}
